# Spotify Web Playback SDK (https://developer.spotify.com/dashboard)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
# Must match a Redirect URI in your Spotify app settings
SPOTIFY_REDIRECT_URI=https://croatoa.live/api/spotify/callback
